ul li{
	list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600;700;800&family=Source+Sans+Pro:wght@300;400&display=swap');
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus,
button[type=button]:focus,
[contenteditable].form-control:focus {
	box-shadow: none;
}

/*Awal Slideshow*/
.topbar {
	width: 100%;
	height: auto;
	margin: auto;
	z-index:10;
	position: fixed;
}

.top {
	height: 100px;
}
.slide2 {
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(88, 88, 88);
}
.slide-item {
	padding: 5px;
}

.slideshow-container {
	margin: auto;
	position: relative;
	max-width: 500px;
}

.slideshow {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0,8);
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s; 
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/*Akhir Slideshow*/
.slide {
	max-height: 300px;
}

.carousel-item img {
	max-height: 300px;
	padding: 5px 20px;
}

.main-barang {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

.main-kategori {
	margin-top: 20px;
}

.barang {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	cursor: pointer;
}



.card-body {
	padding: 0 5px 5px 5px;
}

.card-body h5 {
	padding: 0;
	margin: 0;
}

.card-body p {
	font-size: 12px;
}

.card-footer {
	height: 30px;
	padding: 5px;
}

.card-footer a {
	display: inline;
	margin-left: 5px;
	font-size: 12px;
}

.card-footer p {
	display: inline;
	margin-right: 5px;
	font-size: 12px;
}